@model IEnumerable<Colegio.Dtos.MateriaDto>

@{
    ViewData["Title"] = "Materias";
}

<h1>Materias</h1>

<p>
    <a asp-action="Create" class="btn btn-primary fas fa-plus-circle"></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary fas fa-edit btn-sm"></a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary fas fa-trash btn-sm"></a>
            </td>
        </tr>
}
    </tbody>
</table>
